---
import Modal from "../Modal.astro";
---

<Modal title="Sign in to claim" id="claim">
  <div class="btn-group btn-group-vertical">
    <button class="btn btn-active">Sign in with Twitter</button>
  </div>
</Modal>
