---
const { provider, userInfo, on } = Astro.props;
import Modal from "../Modal.astro";
import { VerifiedUser } from "../Accounts/User";
---

<Modal title="Sign in to claim" id="claim" on={on}>
  <div class="btn-group btn-group-vertical">
    <VerifiedUser
      provider={provider}
      userInfo={userInfo}
      userName={String(Astro.url.pathname.split("/")[2])}
      client:only="react"
      on={on}
    />
  </div>
</Modal>
