---
const { provider } = Astro.props;
import Modal from "../Modal.astro";
import { SignInWithProvider } from "./SignIn";
---

<Modal title="Sign in to claim" id="claim">
  <div class="btn-group btn-group-vertical">
    <SignInWithProvider provider={provider} client:load />
  </div>
</Modal>
