---
import Layout from "../layouts/Layout.astro";
import { Connect } from "../components/Connect";
import Search from "../components/Search/Search.astro";
import SingleSelect from "../components/Search/SingleSelect";
import { Icon } from "astro-icon";
---

<Layout title="Welcome to Lensmo.">
  <div class="card bg-base-100 shadow-xl h-full mx-auto w-full">
    <div class="card-body flex flex-col content-center">
      <div class="flex flex-row justify-end">
        <Connect client:only="react" />
      </div>
      <div class="mb-4 mt-12 flex flex-col content-center">
        <h1 class="leading-none mx-auto mt-2">
          <span class="text-gradient">Lensmo</span>
        </h1>
        <h3 class="mx-auto text-slate-500">
          Send NFTs or tokens to <span class="italic">anyone</span>, no wallet
          required
        </h3>
      </div>
      <SingleSelect client:only="react" />
      <div class="flex mt-4 space-x-4 mx-auto">
        <button
          class="btn btn-primary"
          onclick="window.location.href = `/user/${getElementById('userId').value}`"
        >
          <Icon class="w-6" name="carbon:send-alt-filled" />Send</button
        >
        <button class="btn btn-primary" disabled
          ><Icon class="w-6" name="icon-park-outline:hot-air-balloon" />Airdrop
          (coming soon)</button
        >
      </div>
    </div>
  </div>
</Layout>
<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    --lensmo-gradient: linear-gradient(0deg, #570df8, ##aef80d);
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
