---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search/Search.astro";
import { Icon } from "astro-icon";
---

<Layout title="Welcome to Lensmo.">
  <div class="card bg-base-100 shadow-xl h-full mx-auto w-full">
    <div class="card-body flex flex-col content-center overflow-y-scroll">
      <div class="mb-4 flex flex-col content-center">
        <h1 class="leading-none mx-auto mt-2">
          <span class="text-gradient">Lensmo</span>
        </h1>
        <h3 class="mx-auto mt-2 text-slate-500">
          Send NFTs/tokens to any social account, no wallet required
        </h3>
      </div>
      <Search />
      <div class="mt-8 flex flex-col content-center">
        <a class="link-secondary underline decoration-1" href="/airdrop"
          >...or Airdrop to many social accounts</a
        >
      </div>
      <div class="mt-8 flex flex-col content-center">
        <a
          class="link-secondary underline decoration-1"
          href="https://dune.com/corbpage/noob-wallet-tracker"
          target="_blank">...or view all n00b wallets on Dune</a
        >
      </div>
    </div>
  </div>
</Layout>
<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    --lensmo-gradient: linear-gradient(0deg, #01dfa8, #b9db48, #01dda7);
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--lensmo-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>

<script is:inline>
  const input = document.getElementById("userId");
  const send = document.getElementById("send");
  input.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      event.preventDefault();
      send.click();
    }
  });
</script>
