---
import Layout from "../../layouts/Layout.astro";
import { UserInfo } from "../../components/Accounts/User";
---

<Layout title="Lensmo-User">
  <div
    class="card bg-base-100 shadow-xl p-6 mx-auto w-full flex flex-col content-center"
  >
    <div class="flex flex-row">
      <UserInfo client:only="react" />
    </div>
  </div>
</Layout>
