<footer class="p-4">
  <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700" />
  <div class="grid grid-flow-col gap-4">
    <a
      href="https://launch.mirror.xyz/wDFf0PylbkZ70LKbxe_fmTeikvgbzsEfthcH7pCjlng"
      target="_blank "
      class="link link-hover link-secondary">About</a
    >
    <a
      href="https://airtable.com/shrGrEOaBB2BVM7m7"
      target="_blank "
      class="link link-hover link-secondary"
    >
      Bugs or Feedback</a
    >
    <a
      href="https://dune.com/corbpage/noob-wallet-tracker"
      target="_blank"
      class="link link-hover link-secondary">Analytics</a
    >
    <a
      href="https://discord.gg/EAFPKSRyth"
      target="_blank"
      class="link link-hover link-secondary">Discord</a
    >
  </div>
</footer>
